
@{
    Layout = null;
}

<!DOCTYPE html>

<form action="/home/AdicionaPost" method="post">
    <div>
        <label>
            Título : <input name="titulo" />
        </label>
        <label>
            Resumo: <input name="resumo" />
        </label>
        <label>
            Categoria: <input name="categoria" />
        </label>
        <button type="submit">Cadastrar</button>
    </div>
</form>